.topbar {
    background-color: #515151;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

@media (min-width: 768px) {
    .topbar {
        position: static;
        bottom: auto;

    }
}

.topbar__container {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 22px;
}

.topbar__user-info {
    margin-right: auto;
}


.topbar__nav {
    margin-right: auto;
}

.topbar__menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.topbar__button {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 5px;
    border-radius: 4px;

}
.topbar__menu li {
    margin: 0 15px;
}

.topbar__menu a {
    color: white;
    text-decoration: none;
}

.topbar__profile {
    display: flex;
    align-items: center;
}

.topbar__profile-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.topbar__logout {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
}
